/* General Styling */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#choropleth, #line { display: inline-block; }

/* Choropleth */
.country {
  stroke: #000;
  stroke-width: 0.1;
  opacity: 0.7;
}
.country:hover {
  stroke-width: 0.5;
  opacity: 1;
}

/* Line Chart */
.line {
  fill: none;
  stroke: #f00;
  stroke-width: 1;
}
.marker {
  fill: #f00;
  stroke: #f00;
}
#markerText {
  font-size: 11px;
}

/* Button */
.button {
  margin: 0; padding: 0;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  border: none;
}
.button svg { height: 20px !important; width: 20px !important; }
.button:hover { opacity: 0.7; }

/* Scrollbar */
.scrollbar {
  height: 26px; margin: 10px 0;
  width: 50%;
  -webkit-appearance: none;
}

#yearLabel { margin: 0 5px; }

/* Scrollbar Thumb */
.scrollbar::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000;
  border: 0px solid #000;
  height: 20px;
  width: 20px;
  border-radius: 12px;
  background: #529DE1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
.scrollbar::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000;
  border: 0px solid #000;
  height: 20px;
  width: 20px;
  border-radius: 12px;
  background: #529DE1;
  cursor: pointer;
}
.scrollbar::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000;
  border: 0px solid #000;
  height: 20px;
  width: 20px;
  border-radius: 12px;
  background: #529DE1;
  cursor: pointer;
}

/* Scrollbar Slider Track */
.scrollbar::-webkit-slider-runnable-track {
  height: 14px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #50555C;
  background: #50555C;
  border-radius: 14px;
  border: 0px solid #000;
}
.scrollbar::-moz-range-track {
  height: 14px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #50555C;
  background: #50555C;
  border-radius: 14px;
  border: 0px solid #000;
}
.scrollbar::-ms-track {
  height: 14px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.scrollbar::-ms-fill-lower {
  background: #50555C;
  border: 0px solid #000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px #50555C;
}
.scrollbar::-ms-fill-upper {
  background: #50555C;
  border: 0px solid #000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px #50555C;
}

/* Scrollbar Focus */
.scrollbar:focus { outline: none; }
.scrollbar:focus::-webkit-slider-runnable-track { background: #50555C; }
.scrollbar:focus::-ms-fill-lower { background: #50555C; }
.scrollbar:focus::-ms-fill-upper { background: #50555C; }
